In [3]:
"""MERGE LIBRARIES"""

'MERGE LIBRARIES'

In [4]:
import pandas as pd
from Generators_merge_DF import dos, tres, cuatro, cinco, seis

In [ ]:
class MergeDataFrames:
    
    """PARAMETERS
    funcion, seleccionar el n√∫mero de DF a pegar
    referencia, indique un nombre para el archivo de salida
    *archivos, el nombre de los csvs que desea pegar"""
    
    def merge(funcion, output_file, *archivos ): 
        frames  = funcion( *archivos)  
        DF = pd.concat(frames)
        #print(DF.head())
        DF.reset_index()
        print("DF shape: ", DF.shape)
        print(DF.head())
        DF.to_csv(str(output_file)+ ".csv", sep = ",")
        print("Files ready")

In [ ]:
a = MergeDataFrames

In [ ]:
a.merge(cinco,  "Databases_CABANA", "AFRO_DB.csv", "BIOFACQUIM_DB.csv", "Epidatabase_DB.csv", "FDA_DB.csv", "PPI_DB.csv")

In [ ]:
#features = ["Name", "SMILES", "Library"]
#Data = Data[features]

In [9]:
data = pd.read_csv("Databases_CABANA.csv")
data.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'ID Database', 'Name', 'SMILES', 'HBA',
       'HBD', 'RB', 'LogP', 'TPSA', 'MW', 'Heavy Atom', 'Ring Count',
       'Fraction CSP3', 'subLibrary', 'Library'],
      dtype='object')

In [11]:
data = data.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
data.head()

,ID Database,Name,SMILES,HBA,HBD,RB,LogP,TPSA,MW,Heavy Atom,Ring Count,Fraction CSP3,subLibrary,Library
0,AfroDb.564,NPR_00036,CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC(OC...,7.0,3.0,51.0,22.4139,105.45,1194.003,85.0,85.0,85.0,AFRODB,AFRODB
1,AfroDb.71,ABD_UD_004,C[C@H](CCC(O[C@H](C[C@@H]([C@@H]1CC2)[C@H]3[C@...,27.0,14.0,18.0,-3.5356,418.89,1195.309,83.0,83.0,83.0,AFRODB,AFRODB
2,AfroDb.70,ABD_UD_003,C[C@H](CC[C@@]([C@H]1C)(OC)O[C@H](C2)[C@H]1[C@...,26.0,14.0,17.0,-2.6588,393.98,1195.353,83.0,83.0,83.0,AFRODB,AFRODB
3,AfroDb.937,WA_0086,COc(cc(/C=C/C(OCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,11.0,3.0,61.0,16.9936,201.42,1117.597,79.0,79.0,79.0,AFRODB,AFRODB
4,AfroDb.936,WA_0085,COc(cc(/C=C/C(OCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC...,8.0,3.0,52.0,17.0180,122.52,943.489,67.0,67.0,67.0,AFRODB,AFRODB

In [12]:
data.to_csv("Databases_CABANA_2.csv", sep = ",")